* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

header {
    font-size: 28px;
    margin: 30px;
    margin-left: 50px;
    font-size: bold;
}

.form-campo {
    margin-left: 50px;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    background-color: #16a066;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 12px;
}

.form-campo {
    margin-bottom: 16px;
}

.form-campo label {
    display: block;
}

.form-campo input {
    width: 100%;
    display: block;
    padding: 8px;
}

form {
    max-width: 360px;
}

form button {
    max-width: 360px;
}
